*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
  
  display:flex;
  margin-top:30px;
  margin-left:10px;
  margin-right:10px;
  justify-content: space-between;
  align-items: center;
}
.heading{
  color:black;
  margin:10px;
  font-weight:700;
  display: inline-block;
  
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  cursor:pointer;
}

.heading a{
  color:black;
  text-decoration:none;
}
.heading img{
  max-width: 100%; 
  max-height: 100%;
  vertical-align: middle; 
}
.m-heading{
  color:black;
  margin:10px;
  font-size:40px;
  font-weight:700;
  display: inline-block;
  padding:5px;
  height:50px;
 
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  cursor:pointer;
  border-bottom:4px solid black;
  
}
.nav-links{
 
  font-size:20px;
  display: flex;
      gap: 20px;
}
.nav-links a{
  text-decoration: none;
  color:black;
  height:30px;
}

.m-heading:hover{
  border-bottom:4px solid skyblue;

}
.nav-links a:hover{
  border-bottom:4px solid skyblue;
  color:#fff;
  background: black;
}
.m-body{
background:#F5F5F5;
}
footer {
  text-align:right;
  margin-top:10px;
  background:red;
  font-size:20px;
  padding:3px;
  
}
